.h1 {
  font-size: 3.5em !important;
}

.img-fluid{
    border-radius: 50% !important;
    border-color: black;
    border-width: 3px;
    border-style: solid;
  }

  .linkG{

    color: black; 
    font-family: arial;
     text-decoration: none; 
  }